In [1]:
######################################## Initialize ##################################

# Basics
from pymongo import MongoClient
import os
import numpy as np
import pandas as pd
import time
import boto3
import io
import warnings
warnings.filterwarnings('ignore')

# import findspark
# findspark.init('/usr/lib/spark')

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('nlp').getOrCreate()
import time

# Feature Engineering
from pyspark.ml.feature import (VectorAssembler,VectorIndexer,
                                Tokenizer,StopWordsRemover, CountVectorizer,IDF,StringIndexer, HashingTF)
from pyspark.sql.functions import length
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType
import preprocessor as p
from pyspark.sql.functions import dayofyear, concat_ws, collect_list, countDistinct

# Models
from pyspark.ml.classification import LogisticRegression

# Pipeline
from pyspark.ml import Pipeline

# Evaluators
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator

In [2]:
######################################## Data ############################################

#Setup Mongo and create the database and collection
User = os.environ['MONGODB_USER']
password = os.environ['MONGODB_PASS']
IP = os.environ['IP']

client = MongoClient(IP, username=User, password=password)
db = client['stock_tweets']

#Grab references
twitter_coll_reference = db.twitter
iex_coll_reference = db.iex

In [3]:
######################################## Build Twitter Pandas Frame #######################
# Create Data Frame
twitter_data = pd.DataFrame(list(twitter_coll_reference.find()))

# Need to convert the created_at to a time stamp and set to index
twitter_data.index=pd.to_datetime(twitter_data['created_at'])

# Delimited the Company List into separate rows
delimited_twitter_data=[]

for item in twitter_data.itertuples():
    #twitter_dict={}
    for company in item[1]:
        twitter_dict={}
        twitter_dict['created_at']=item[0]
        twitter_dict['company']=company
        twitter_dict['text']=item[11]
        twitter_dict['user_followers_count']=item[12]
        twitter_dict['user_name']=item[13]
        twitter_dict['user_statuses_count']=item[15]
        delimited_twitter_data.append(twitter_dict)

delimited_twitter_df = pd.DataFrame(delimited_twitter_data) 
#delimited_twitter_df.set_index('created_at', inplace=True)

In [4]:
# Convert to Spark Dataframe
# Create a Spark DataFrame from Pandas
twitter_df = spark.createDataFrame(delimited_twitter_df)

In [5]:
twitter_df.show()

+-------+-------------------+--------------------+--------------------+--------------------+-------------------+
|company|         created_at|                text|user_followers_count|           user_name|user_statuses_count|
+-------+-------------------+--------------------+--------------------+--------------------+-------------------+
|   TSLA|2018-03-12 18:07:08|$TSLA so nice so ...|                1703|TradeTherapAnalytics|              67528|
|   AAPL|2018-03-12 18:07:19|@JoKiddo But how ...|                2901|        Gilmo Report|              18524|
|   AAPL|2018-03-12 18:07:23|RT @StockTwits: T...|                5256|           Mark Hill|              13523|
|   GOOG|2018-03-12 18:07:23|RT @StockTwits: T...|                5256|           Mark Hill|              13523|
|  GOOGL|2018-03-12 18:07:23|RT @StockTwits: T...|                5256|           Mark Hill|              13523|
|   AAPL|2018-03-12 18:07:25|$AAPL may be work...|                 486|       William White|               7850|
|   TWTR|2018-03-12 18:07:29|In 300 shares of ...|                 979|                Ross|              40293|
|   NFLX|2018-03-12 18:07:33|$NFLX $318 BUY li...|                 890|             STOCKER|               6127|
|   AMZN|2018-03-12 18:07:41|Amazon hits $1600...|                 254|            Renegade|               9233|
|   TSLA|2018-03-12 18:07:43|$TSLA bears just ...|                 211|            Just Tex|                154|
|   AMZN|2018-03-12 18:07:42|Americans reporte...|               14518|          Aaron Task|              21894|
|   TSLA|2018-03-12 18:07:59|@nobullshytrader ...|                 997|            BossHogg|              32754|
|   TSLA|2018-03-12 18:08:10|Vin 111xx just as...|                 451|        Eric Steiman|                304|
|   AAPL|2018-03-12 18:08:23|RT @StockTwits: T...|                 306|     Gonzalo Escobar|               7043|
|   GOOG|2018-03-12 18:08:23|RT @StockTwits: T...|                 306|     Gonzalo Escobar|               7043|
|  GOOGL|2018-03-12 18:08:23|RT @StockTwits: T...|                 306|     Gonzalo Escobar|               7043|
|      V|2018-03-12 18:08:24|Check which story...|                1145|             FinBuzz|             222708|
|   AAPL|2018-03-12 18:08:26|chart via @OphirG...|               25683|       See It Market|              29036|
|   AAPL|2018-03-12 18:08:26|RT @stockstreamtv...|                1962|      EquitiesTrader|              46602|
|     FB|2018-03-12 18:08:26|RT @stockstreamtv...|                1962|      EquitiesTrader|              46602|
+-------+-------------------+--------------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [6]:
# Need to Group by Day and company
twitter_daily_df = twitter_df.groupby(dayofyear("created_at"),"Company").count().orderBy('dayofyear(created_at)','Company')
twitter_daily_df = twitter_daily_df.select(col("dayofyear(created_at)").alias("Day"), 
                                           col("Company").alias ("Company"), 
                                           col("count").alias("Number_of_tweets"))

In [7]:
# Combine the Text
combined_text = twitter_df.groupby(dayofyear("created_at"),"Company").agg(concat_ws(" ", collect_list("text"))).orderBy('dayofyear(created_at)','Company')
combined_text = combined_text.select(col("dayofyear(created_at)").alias("Day"), 
                                           col("Company").alias ("Company"), 
                                           col("concat_ws( , collect_list(text))").alias("Text"))

In [8]:
# Add Text Data
twitter_daily_df = twitter_daily_df.join(combined_text, ["Day","Company"]).orderBy('Day','Company')

In [9]:
# Distinct Users
distinct_users = twitter_df.groupby(dayofyear("created_at"),"Company").agg(countDistinct("user_name")).orderBy('dayofyear(created_at)','Company')
distinct_users = distinct_users.select(col("dayofyear(created_at)").alias("Day"), 
                                           col("Company").alias ("Company"), 
                                           col("count(DISTINCT user_name)").alias("Distinct_Users"))

In [10]:
# Add Distinct Users
twitter_daily_df = twitter_daily_df.join(distinct_users, ["Day","Company"]).orderBy('Day','Company')

In [11]:
twitter_daily_df.show()

+---+-------+----------------+--------------------+--------------+
|Day|Company|Number_of_tweets|                Text|Distinct_Users|
+---+-------+----------------+--------------------+--------------+
| 71|   AAPL|             403|@JoKiddo But how ...|           258|
| 71|   AMZN|             275|Amazon hits $1600...|           162|
| 71|     BA|             137|Thus, its cheaper...|            94|
| 71|   BABA|              50|Thus, its cheaper...|            37|
| 71|    BAC|              51|Open an account w...|            35|
| 71|      C|              73|We take a look at...|            59|
| 71|  CMCSA|               8|3/12 Unusual Opti...|             6|
| 71|   CSCO|               6|RT @CabotAnalysts...|             6|
| 71|     FB|             128|RT @stockstreamtv...|            74|
| 71|     GE|              51|.
The signals Mar...|            43|
| 71|   GOOG|             148|RT @StockTwits: T...|           104|
| 71|  GOOGL|              81|RT @StockTwits: T...|            63|
| 71|     HD|              15|3 Stocks to Buy W...|            12|
| 71|   INTC|              41|We take a look at...|            28|
| 71|    JNJ|              44|RT @JNTNews: .@Va...|            11|
| 71|    JPM|              32|Colony Group LLC ...|            23|
| 71|   MSFT|              95|RT @stockstreamtv...|            68|
| 71|   NFLX|             220|$NFLX $318 BUY li...|           123|
| 71|   NVDA|              53|RT @nobullshytrad...|            39|
| 71|   PCLN|               5|$BKNG formerly $P...|             5|
+---+-------+----------------+--------------------+--------------+
only showing top 20 rows

In [12]:
####################### Build Stock Data ###########################
stock_data = pd.DataFrame(list(iex_coll_reference.find()))

# Need to convert the created_at to a time stamp
stock_data.index=pd.to_datetime(stock_data['latestUpdate'])
stock_data['latestUpdate'] = pd.to_datetime(stock_data['latestUpdate'])
#Group By hourly and stock price
# Need to get the first stock price in teh hour, and then the last to take the difference to see how much change.
stock_delimited_daily = stock_data.sort_values('latestUpdate').groupby([pd.Grouper(freq="D"), 'Ticker']).first()['latestPrice'].to_frame()
stock_delimited_daily.columns = ['First_Price']
stock_delimited_daily['Last_Price'] = stock_data.sort_values('latestUpdate').groupby([pd.Grouper(freq="D"), 'Ticker']).last()['latestPrice']

# Then need to take the difference and turn into a percentage.
stock_delimited_daily['Price_Percent_Change'] = ((stock_delimited_daily['Last_Price'] 
                                                   - stock_delimited_daily['First_Price'])/stock_delimited_daily['First_Price'])*100

# Need to also show Percent from open price
stock_delimited_daily['Open_Price'] = stock_data.groupby([pd.Grouper(freq="D"), 'Ticker'])['open'].mean()
stock_delimited_daily['Price_Percent_Open'] = ((stock_delimited_daily['Last_Price'] 
                                                 - stock_delimited_daily['Open_Price'])/stock_delimited_daily['Open_Price'])*100

# Also include mean volume
stock_delimited_daily['Mean_Volume'] = stock_data.groupby([pd.Grouper(freq="D"), 'Ticker'])['latestVolume'].mean()

# Classification Labels
stock_delimited_daily['Price_Change'] = np.where(stock_delimited_daily['Price_Percent_Change']>=0, 1, 0)
stock_delimited_daily['Open_Price_Change'] = np.where(stock_delimited_daily['Price_Percent_Open']>=0, 1, 0)

# Rename the Index
stock_delimited_daily = stock_delimited_daily.reindex(stock_delimited_daily.index.rename(['Time', 'Company']))

# Flatten Dataframe
stock_delimited_daily.reset_index(inplace=True)

In [13]:
# Create a Spark DataFrame from Pandas
stock_df = spark.createDataFrame(stock_delimited_daily)

In [14]:
stock_df.show()

+-------------------+-------+-----------+----------+--------------------+------------------+--------------------+--------------------+------------+-----------------+
|               Time|Company|First_Price|Last_Price|Price_Percent_Change|        Open_Price|  Price_Percent_Open|         Mean_Volume|Price_Change|Open_Price_Change|
+-------------------+-------+-----------+----------+--------------------+------------------+--------------------+--------------------+------------+-----------------+
|2018-02-26 00:00:00|   PCLN|    1905.64|   1905.64|                 0.0|1905.9499999994837|-0.01626485476972973|            566730.0|           1|                0|
|2018-03-12 00:00:00|   AAPL|     181.73|    181.75|0.011005337588736166|180.22999999999962|  0.8433668090775026|2.7673734089171976E7|           1|                1|
|2018-03-12 00:00:00|   AMZN|   1600.745|   1598.39| -0.1471189977166751| 1592.600000000004|  0.3635564485744119|   4376276.694267516|           0|                1|
|2018-03-12 00:00:00|     BA|     345.91|    344.19| -0.4972391662571267| 355.0199999999989|  -3.050532364373539|   5150044.363057325|           0|                0|
|2018-03-12 00:00:00|   BABA|      192.9|    192.74|-0.08294453084499565|             192.0|  0.3854166666666714|1.6222451343949044E7|           0|                1|
|2018-03-12 00:00:00|    BAC|      32.98|     32.84|-0.42449969678591104| 32.67000000000006|  0.5203550658094416| 4.670738411464968E7|           0|                1|
|2018-03-12 00:00:00|      C|      76.39|     76.02| -0.4843565911768616| 76.09000000000012| -0.0919963201473531|    9991234.74522293|           0|                0|
|2018-03-12 00:00:00|  CMCSA|      36.95|     36.96|0.027063599458722623| 37.09000000000008|-0.35049878673518586|1.3524678229299363E7|           1|                0|
|2018-03-12 00:00:00|   CSCO|     45.675|     45.55|-0.27367268746579093| 45.55000000000012|-2.65186092380278...|1.4644756936305733E7|           0|                0|
|2018-03-12 00:00:00|     FB|     185.46|    184.76| -0.3774398792192478| 185.2599999999994| -0.2698909640502023|1.2538169917197453E7|           0|                0|
|2018-03-12 00:00:00|     GE|     15.075|      15.1| 0.16583747927031744|15.019999999999985|  0.5326231691079518| 5.952179287898089E7|           1|                1|
|2018-03-12 00:00:00|   GOOG|   1172.005|    1164.5| -0.6403556298821343|1163.8500000000033| 0.05584912145007333|  1746562.7770700636|           0|                1|
|2018-03-12 00:00:00|  GOOGL|    1173.88|   1165.93|  -0.677241285310257|            1165.0| 0.07982832618026298|  1900389.2229299364|           0|                1|
|2018-03-12 00:00:00|     HD|     180.11|    179.71|  -0.222086502692802|182.43000000000023| -1.4909828427343215|  3773587.6624203823|           0|                0|
|2018-03-12 00:00:00|   INTC|      51.36|     51.52|   0.311526479750786| 51.85999999999986|  -0.655611261087264| 2.581666484713376E7|           1|                0|
|2018-03-12 00:00:00|    JNJ|     132.93|    132.63|-0.22568269013767497| 133.7999999999996|  -0.874439461883125|  3698224.5987261147|           0|                0|
|2018-03-12 00:00:00|    JPM|     117.93|    117.66|-0.22894937674892754|             118.0| -0.2881355932203419|   9534050.853503184|           0|                0|
|2018-03-12 00:00:00|   MSFT|      97.05|     96.77|-0.28851107676455556| 96.53000000000026|  0.2486273697293468|2.1210806630573247E7|           0|                1|
|2018-03-12 00:00:00|   NFLX|     319.25|     321.3|    0.64212999216915| 333.5599999999995|  -3.675500659551355|1.7660935617834397E7|           1|                0|
|2018-03-12 00:00:00|   NVDA|     250.76|    249.76|-0.39878768543627374|             247.0|  1.1174089068825874|1.3691184248407643E7|           0|                1|
+-------------------+-------+-----------+----------+--------------------+------------------+--------------------+--------------------+------------+-----------------+
only showing top 20 rows

In [17]:
stock_df = stock_df.withColumn("Day", dayofyear("Time"))

In [19]:
stock_df.select(["Time", "Day"]).show()

+-------------------+---+
|               Time|Day|
+-------------------+---+
|2018-02-26 00:00:00| 57|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
|2018-03-12 00:00:00| 71|
+-------------------+---+
only showing top 20 rows

In [20]:
#Combine The Data
daily_df = twitter_daily_df.join(stock_df, ["Day","Company"]).orderBy('Day','Company')

In [21]:
daily_df.show(5)

+---+-------+----------------+--------------------+--------------+-------------------+-----------+----------+--------------------+------------------+------------------+--------------------+------------+-----------------+
|Day|Company|Number_of_tweets|                Text|Distinct_Users|               Time|First_Price|Last_Price|Price_Percent_Change|        Open_Price|Price_Percent_Open|         Mean_Volume|Price_Change|Open_Price_Change|
+---+-------+----------------+--------------------+--------------+-------------------+-----------+----------+--------------------+------------------+------------------+--------------------+------------+-----------------+
| 71|   AAPL|             403|@JoKiddo But how ...|           258|2018-03-12 00:00:00|     181.73|    181.75|0.011005337588736166|180.22999999999962|0.8433668090775026|2.7673734089171976E7|           1|                1|
| 71|   AMZN|             275|Amazon hits $1600...|           162|2018-03-12 00:00:00|   1600.745|   1598.39| -0.1471189977166751| 1592.600000000004|0.3635564485744119|   4376276.694267516|           0|                1|
| 71|     BA|             137|Thus, its cheaper...|            94|2018-03-12 00:00:00|     345.91|    344.19| -0.4972391662571267| 355.0199999999989|-3.050532364373539|   5150044.363057325|           0|                0|
| 71|   BABA|              50|Thus, its cheaper...|            37|2018-03-12 00:00:00|      192.9|    192.74|-0.08294453084499565|             192.0|0.3854166666666714|1.6222451343949044E7|           0|                1|
| 71|    BAC|              51|Open an account w...|            35|2018-03-12 00:00:00|      32.98|     32.84|-0.42449969678591104| 32.67000000000006|0.5203550658094416| 4.670738411464968E7|           0|                1|
+---+-------+----------------+--------------------+--------------+-------------------+-----------+----------+--------------------+------------------+------------------+--------------------+------------+-----------------+
only showing top 5 rows

In [23]:
daily_df.printSchema()

root
 |-- Day: integer (nullable = true)
 |-- Company: string (nullable = true)
 |-- Number_of_tweets: long (nullable = false)
 |-- Text: string (nullable = false)
 |-- Distinct_Users: long (nullable = false)
 |-- Time: timestamp (nullable = true)
 |-- First_Price: double (nullable = true)
 |-- Last_Price: double (nullable = true)
 |-- Price_Percent_Change: double (nullable = true)
 |-- Open_Price: double (nullable = true)
 |-- Price_Percent_Open: double (nullable = true)
 |-- Mean_Volume: double (nullable = true)
 |-- Price_Change: long (nullable = true)
 |-- Open_Price_Change: long (nullable = true)